@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}
.nav-link,
.nav-link:hover {
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="number"] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="file"] {
  line-height: 30px;
}
select {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

button,
a.btn {
  height: 40px;
}

button.btn-lg,
a.btn-lg {
  height: 50px;
}
.btn-light {
  background: #ebebeb;
}

dl {
  display: flex;
  margin: 0;
}
dt {
  font-weight: normal;
}
dd {
  margin: 0;
}

input:not([type="number"]):read-only {
  background: #eee;
}

.counter button {
  border: 1px solid #c9c9c9;
  width: 45px;
  background: #fff;
}
.counter input {
  width: 60px;
  border: 1px solid #c9c9c9;
  border-left: none;
  border-right: none;
  text-align: center;
}
