<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main_layout}"
>
  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/boardDetail.css">
  </th:block>
  <div layout:fragment="content">
    <main class="write-container">
        <div>
        <header class="text-center">
            <h2>게시글 수정</h2>
        </header>
        <section class="write-form">
            <form id="frm">
                <input type="hidden" id="brdId" name="brdId" class="form-control" th:value="${vo.brdId}">
                <input type="hidden" id="isFile" name="isFile" th:value="${#lists.isEmpty(vo.fileList) ? 0 : #lists.size(vo.fileList)}">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                <label for="title" class="form-label pt-2">제목</label>
                            </th>
                            <td>
                                <input type="text" id="title" name="title" class="form-control" th:value="${vo.title}" />
                            </td>
                        </tr>
                        <tr style="vertical-align: middle;">
                            <th rowspan="2">
                                <label for="file" class="form-label pt-2">첨부파일</label>
                            </th>
                            <td>
                                <input type="file" id="file" name="file" class="form-control" />
                            </td>
                        </tr>     
                        <tr>
                            <td>
                                <!-- # >> 타임리프 함수. span자체에 if문 걸어줌 -->
                                <span th:if="${#lists.isEmpty(vo.fileList)}">없음</span>
                                <!-- unless > 아니라면 -->
                                <ul class="file-list" th:unless="${#lists.isEmpty(vo.fileList)}">
                                    <li class="file-item" th:each="item : ${vo.fileList}">
                                        [[${item.fileName}]]
                                        <a class="file-link" href="javascript:void(0);" th:onclick="|delFile(${item.bfId})|">
                                            <i class="fa-regular fa-square-minus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="contents" class="form-label pt-2">내용</label>
                            </th>
                            <td>
                                <textarea name="contents" id="contents" th:text="${vo.contents}"></textarea>
                            </td>
                        </tr>                                                    
                    </tbody>
                </table>
            </form>
        </section>
        <section class="text-center">
            <button type="button" class="btn btn-primary me-2" onclick="updateBoard()">글수정</button>
            <button type="button" class="btn btn-secondary" onclick="goList()">취소</button>
        </section>
        </div>

    </main>

    <script>
        function validated() {
            const title = document.querySelector('#title');
            const contents = document.querySelector('#contents');
            
            if(title.value.trim().length == 0) {
                alert('제목을 입력해주세요.');
                title.focus();
                return false;
            }

            if(contents.value.trim().length == 0) {
                alert('내용을 입력해주세요.');
                contents.focus();
                return false;
            }

            const file = document.querySelector('#file').files[0];
            const fileCount = $('#isFile').val();

            // 다중파일 일 때는 필요 없지만, 현재는 1개만 등록하니까 필요함
            if(file && fileCount > 0) {
                const isConfirm = confirm('첨부파일을 추가하시면 기존 파일이 삭제됩니다.\n진행하시겠습니까?');
            }

            if(file) {
                const maxSize = 50 * 1024 * 1024;
                if(file.size > maxSize) {
                    alert('파일은 최대 50mb만 가능합니다.');
                    return false;
                }
            }

            return true;
        };

        const writeBoard = () => {
            if(validated()) {
                const frm = document.querySelector('#frm');
                const formData = new FormData(frm);
                const header = {
                    'Content-type' : 'multipart/form-data'
                };

                axios.post('/api/v1/board', formData, header)
                    .then(res => {
                        if(res.data.resultCode == 200) {
                            alert('게시글이 등록되었습니다.');
                            location.href = '/board/list';
                        } else {
                            alert('게시글 등록을 실패했습니다.');
                        }
                    })
                    .catch(error => {
                        alert(error);
                    });
            }
        };

        const goList = () => {
            location.href = "/board/list";
        };

        // 구현하기
        const delFile = (bfId) => {
            const isConfirm = confirm('삭제하시면 수정을 취소해도 삭제됩니다. \n진행하시겠습니까?');
            if(isConfirm) {
                // 지운 다음 가지고 있는 개수 지우기
                $('#isFlie').val(0);
            }
        }

        // 구현하기
        const updateBoard = () => {
            if(validated()) {
                alert('수정됨');
            }
        }

    </script>

  </div>
</html>
