@charset "UTF-8";

section {
  padding-top: 0;
}
section h2 {
  font-size: 24px;
}

.container section {
  padding-top: 50px;
}

.main_visual .swiper-slide {
  height: 500px;
  background: #ddd;
}
.main_visual .swiper-slide:nth-child(2) {
  background: rgb(255, 171, 171);
}
.main_visual .swiper-slide:nth-child(3) {
  background: rgb(255, 216, 171);
}
.main_visual .swiper-slide:nth-child(4) {
  background: rgb(223, 255, 171);
}

.main_visual .swiper-slide img {
  width: 100%;
}

section h2 {
  font-weight: 500;
  padding: 30px 0 25px;
}

.recomend_books .img_box {
  width: 230px;
  flex-grow: 0;
  flex-shrink: 0;
  background: #ddd;
}
.recomend_books .img_box img {
  width: 100%;
}
.recomend_books .title {
  font-size: 22px;
  font-weight: 500;
}
.recomend_books .writer {
  font-size: 18px;
  padding: 20px 0;
}

.new_books .img_box {
  width: 100%;
  background: #ddd;
}
.new_books .img_box img {
  width: 100%;
}
.new_books .info_box .title {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0 5px;
}

.best_books .img_box {
  position: relative;
  width: 100%;
  background: #ddd;
}
.best_books .img_box .rank {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 0;
  background-color: #222;
  color: #fff;
  width: 40px;
  height: 55px;
}
.best_books .img_box img {
  width: 100%;
}
